body {
  text-align: center;
  margin: 0;
  font-family: 'Oregano', sans-serif;
  font-size: 130%;
  color: #151965;
}

h1 {
  color: #0f4c75;
  font-size: 300%;
  margin: 50px auto 0 auto;
  font-family: 'Meddon', sans-serif;
}

h2 {
  color: #0f4c75;
  font-size: 2rem;
  font-family: 'Kaushan Script', sans-serif;
}

h3 {
  color: #3282b8;
  font-size: 2rem;
  font-family: 'Oregano', sans-serif;
}

h4{
  color: #D60000;
}


hr{
  border-style: dotted none none none;
  border-width: 5px;
  width: 7%;
  border-color: #df8543;

}

p{
  line-height: 2;
}

a{
  color:#11999E;
  font-family: 'Kaushan Script', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color:#eaf6f6;
}




.top-conteiner {
  background-color: #bbe1fa;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  background-color: #f8fcff;
  position: relative;
}


.bottom-container{
  background-color: #3282b8;
  padding-top: 30px;
  padding-bottom: 50px;
  position: relative;
}

.intro{
  margin: auto;
  width:30%;
}

.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;

  text-align: left;

}


.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}


.top-cloud {
  position: absolute;
  top: 100px;
  right: 250px;
}

.software-img{
  float :left;
  margin-right: 30px;
  width:25%;
}

.communication-img{
  float :right;
  margin-left: 30px;
  width:25%;
}

.web-img{
  float :left;
  margin-right: 30px;
  width:25%;
}

.team-img{
  float :right;
  margin-left: 30px;
  width:25%;
}

.time-img{
  float :left;
  margin-right: 30px;
  width:25%;
}

.dot{
  border-style:dotted none none none;
  border-width: 5px;
  width: 2%;
  border-color: #a1eafb;


}

.profile{
  background-color: #ecf7ff;
  padding: 70px 0 70px;

}
.fire{
  background-color: #fff9e0;
  padding-bottom: 100px;
  padding-top: 200px;
}

.footer-link{
  color:#00a8cc;

}

.contact-me{
  margin-bottom:60px;
}



.btn {
	box-shadow: 10px 12px 17px -6px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #cce3ff 100%);
	background-color:#7892c2;
	border-radius:14px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Kaushan Script', sans-serif;
	font-size:19px;
	font-weight:bold;
	font-style:italic;
	padding:13px 20px;
	text-decoration:none;
	text-shadow:3px 2px 4px #283966;
}
.btn:hover {
	background:linear-gradient(to bottom, #cce3ff 5%, #7892c2 100%);
	background-color:#cce3ff;
}
.btn:active {
	position:relative;
	top:1px;
}
